In [41]:
#Q1. Create one variable containing following type of data:

In [42]:
#(i) string

In [3]:
a='simar'

In [4]:
type(a)

str

In [43]:
#(ii) list

In [5]:
a=['hello',1.2,3,True,3j+7]

In [6]:
type(a)

list

In [60]:
#(iii) float

In [7]:
a=3.0

In [8]:
type(a)

float

In [59]:
#(iv) tuple

In [9]:
a=('p','w',1)

In [11]:
type(a)

tuple

In [57]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [58]:
#(i) type(var1) = string
#(ii) type(var2) = string
#(iii) type(var3) = list
#(iv) type(var4) = float

In [55]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [56]:
#(i) '/' this is division function, gives quotient in o/p

In [12]:
a=10
b=5
print(a/b)

2.0

In [54]:
#(ii) '%' this gives remainder as a o/p

In [13]:
a=19
b=10
print(a%b)

9

In [53]:
#(iii) '//' this a divison floor fucntion, and gives quotient in a integer form

In [15]:
a=10.1
b=5
print(a//b)

2.0

In [52]:
#(iv)'**' this is a power operator, number before ** is base and after is power

In [16]:
a=4
b=2
print(a**b)

16

In [51]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [19]:
m=['hello',1,2,3,4.0,5j+6,True,'pw',3.9,False]
for i in m:
    print(i,print(type(i)))

<class 'str'>
hello None
<class 'int'>
1 None
<class 'int'>
2 None
<class 'int'>
3 None
<class 'float'>
4.0 None
<class 'complex'>
(6+5j) None
<class 'bool'>
True None
<class 'str'>
pw None
<class 'float'>
3.9 None
<class 'bool'>
False None

In [49]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [25]:
a=30
b=5
while a%b==0:
    print('a is purely divisible by b and by',a/b,'times it can be divisible')
    break
else:
    print('a is not divisible')

a is purely divisible by b and by 6.0 times it can be divisible

In [48]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [31]:
int_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in int_list:
    if i%3==0:
        print(i,'divisible by 3')
    else:
        print(i,'not divisible by 3')

1 not divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3
8 not divisible by 3
9 divisible by 3
10 not divisible by 3
11 not divisible by 3
12 divisible by 3
13 not divisible by 3
14 not divisible by 3
15 divisible by 3
16 not divisible by 3
17 not divisible by 3
18 divisible by 3
19 not divisible by 3
20 not divisible by 3
21 divisible by 3
22 not divisible by 3
23 not divisible by 3
24 divisible by 3
25 not divisible by 3

In [45]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [44]:
#Mutuble data type is when we can replace, remove or add a value form given list with another one, means data can be editted

In [32]:
f=[1,2,3,4,'simar']

In [34]:
type(f)

list

In [36]:
f[4]=True

In [37]:
print(f)

[1, 2, 3, 4, True]

In [46]:
#here 'simar' str is replaced with new assigned 4th number with a bool, means we can edit data

In [47]:
#Immutable data type is when we cannot do any editing to the data set, for example: in this following str we cannot replace 1st charater

In [38]:
z="tress"

In [39]:
z[0]

't'

In [40]:
z[0]=p

NameError: name 'p' is not defined